* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #31255e;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #978bc4;
  color: black;
}
/*
.sidenav button {
  color: #978bc4;
  margin-left: 50%;
  display:inline-block;
}
*/
/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

.ulogovan {
  color : white;
  font-size : x-large;
  padding: 16px;
  margin-top: 6px;
  display:inline-block;
}

.center {
  margin: auto;
  width: 33%;
  align-self: center;
}

button{
  background-color: #978bc4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 8%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #7465b1;
}


