<div class="sidenav">
    <output type = "text" class = "ulogovan">{{ulogovan.ime}} {{ulogovan.prezime}} </output>
    <a (click) = "pocetna()">Početna strana</a>
    <a (click) = "zahteviNekretnina()">Zahtevi nekretnina</a>
    <a (click) = "zahteviRegistracija()">Zahtevi registracija</a>
    <a (click) = "sveNekretnine()">Sve nekretnine</a>
    <a (click) = "sviUgovori()">Svi ugovori</a>
    <a (click) = "korisnici()">Izmene korisnika</a>
    <a (click) = "promenaLozinke()">Promena lozinke</a>
    <a (click) = "podaciKorisnika()">Vaši podaci</a>
    <button (click) = "odlogovanje()">Odlogujte Se</button>
</div>



