<div class="sidenav">
    <output type = "text" class = "ulogovan">{{ulogovan.ime}} {{ulogovan.prezime}} </output>
    <a (click) = "pocetna()">Početna strana</a>
    <a (click) = "inbox()">Sanduče sa porukama</a>
    <a (click) = "korisnikNekretnine()">Vaše nekretnine</a>
    <a (click) = "promenaLozinke()">Promena lozinke</a>
    <a (click) = "podaciKorisnika()">Vaši podaci</a>
    <button (click) = "odlogovanje()"><output type = "text" style = "color : white;">Odlogujte Se</output></button>
</div>



